*{
    color: rgb(var(--bs-tertiary-color-rgb));
    margin:0%;
    padding:0%
    
}

.headerofbottom{
    text-align: center;
}

.container{
    margin-top: 50px;
    margin-right: 60px;
}

.textoficons{
    margin-left: -120px;
}

#btn2{
    margin-top: 24px;
}
#fwmy{
        margin-left: -35px;

}
#fwly{
    margin-left: -35px;
}
.display-4,.fw-bold,.text-body-emphasis{
    text-align: center;
}
.text-body-emphasis{
    margin-left: -55x;
}


@media (max-width: 780px) {
    .header {
        flex-direction: column;
    }
    .featurette {
        flex-direction: column-reverse;
    }
    .container img {
        width: 100%;
        height: auto;
    }
    #fwmy{
        margin-left: 110px;
    }
#fwly{
    margin-left: 110px;
}
.btn, .btn-secondary{
    margin-left:130px
}
.bd-placeholder-img,.rounded-circle{
    border-radius: 100%;
}
#ivashkinphoto{
    border-radius: 100%;
}


.textoficons{
    margin-left: 20px;
}


}
